@import url(_syntax-highlighting.css);
/*------------ Set up ------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*------------ Plugins ------------*/
.highlight {
  color: #686868;
  background: #f8f8f8;
  font-family: monospace;
  font-size: 1.125em;
  line-height: 2em;
  margin-bottom: 1em; }
  .highlight pre {
    width: auto;
    white-space: pre-wrap;
    padding: 1em 15px; }

/*------------ Typography ------------*/
h1, h2, h3, h4, h5, h6 {
  -ms-font-feature-settings: "dlig";
  -webkit-font-feature-settings: "dlig";
  -o-font-feature-settings: "dlig";
  font-feature-settings: "dlig"; }

h1 {
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin-bottom: 1.5rem; }

h2 {
  font-size: 0.8333333333rem;
  line-height: 1rem;
  margin-bottom: 1rem; }

h3 {
  font-weight: 700 !important;
  font-size: 1.0714285714rem;
  line-height: 1.5rem;
  margin-bottom: 0.5rem; }

a {
  color: #ffc202;
  text-decoration: none;
  transition: color 300ms ease-in-out, box-shadow 300ms ease-in-out; }
  a:link, a a:visited, a a:active {
    color: #ffc202; }
  a:hover {
    color: #ffdb68; }

p {
  font-size: 0.625rem;
  line-height: 1rem;
  margin-bottom: 0.75rem;
  -webkit-font-variant-ligatures: common-ligatures;
  font-variant-ligatures: common-ligatures;
  -webkit-font-feature-settings: "liga", "kern";
          font-feature-settings: "liga", "kern";
  -webkit-text-stroke-width: 0.2px; }

abbr {
  border-bottom: 1px dotted #ffc202;
  font-variant-caps: all-small-caps;
  -webkit-font-feature-settings: "c2sc", "smcp";
          font-feature-settings: "c2sc", "smcp";
  cursor: help; }
  h1 > abbr {
    font-variant-caps: normal;
    -webkit-font-feature-settings: "dlig";
            font-feature-settings: "dlig"; }
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    abbr {
      border: none; } }
  @media only screen and (max-width: 479px) {
    abbr {
      border: none; } }

.pagetitle {
  font-weight: 700; }

.sc {
  font-variant-caps: all-small-caps;
  -webkit-font-feature-settings: "c2sc", "smcp";
          font-feature-settings: "c2sc", "smcp"; }

.rsc {
  font-variant-caps: small-caps;
  -webkit-font-feature-settings: "smcp";
          font-feature-settings: "smcp"; }

.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .container:after {
    content: " ";
    display: block;
    clear: both; }

/*------------ Tools ------------*/
*, *:before, *:after {
  box-sizing: border-box; }
  * ::-moz-selection, *:before ::-moz-selection, *:after ::-moz-selection {
    background: #ffc202;
    color: #0c0505; }
  * ::selection, *:before ::selection, *:after ::selection {
    background: #ffc202;
    color: #0c0505; }

.group, .container, article .interpost-box, footer {
  *zoom: 1; }
  .group:before, .container:before, article .interpost-box:before, footer:before, .group:after, .container:after, article .interpost-box:after, footer:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */ }
  .group:after, .container:after, article .interpost-box:after, footer:after {
    clear: both; }

/*------------ General ------------*/
html {
  font-size: 32px;
  line-height: 1rem; }
  @media only screen and (min-width: 768px) and (max-width: 1139px) {
    html {
      font-size: 30px; } }
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    html {
      font-size: 25px; } }
  @media only screen and (max-width: 479px) {
    html {
      font-size: 25px; } }

body {
  font-size: 0.625rem;
  line-height: 1rem;
  font-family: "futura-pt", Futura, "Trebuchet MS", Arial, sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  padding: 2rem 30px;
  color: #ffc202;
  background: #0c0505; }
  body:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, #34eaf7 0%, cyan 50%, red 50.1%, #ff2b2b 100%); }
  @media only screen and (min-width: 768px) and (max-width: 1139px) {
    body {
      -webkit-text-size-adjust: none; } }
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    body {
      padding: 1.5rem 20px;
      -webkit-text-size-adjust: none; } }
  @media only screen and (max-width: 479px) {
    body {
      padding: 1.5rem 20px;
      -webkit-text-size-adjust: none; } }

/*------------ Specific ------------*/
@media only screen and (min-width: 768px) and (max-width: 1139px) {
  header {
    width: 15.3269024652%;
    float: left;
    margin-right: 1.6077170418%; } }

@media only screen and (min-width: 480px) and (max-width: 767px) {
  header {
    width: 15.3269024652%;
    float: left;
    margin-right: 1.6077170418%; } }

@media only screen and (max-width: 479px) {
  header {
    position: relative;
    margin-bottom: 1.5rem;
    clear: both;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0; } }

.logo {
  width: 6.8595927117%;
  float: left;
  margin-right: 1.6077170418%; }
  .logo svg {
    max-height: 1.75rem; }
  .logo .logo-path {
    fill: #ffc202; }
  @media only screen and (min-width: 768px) and (max-width: 1139px) {
    .logo {
      clear: both;
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; } }
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    .logo {
      clear: both;
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; }
      .logo svg {
        max-width: 100%; } }
  @media only screen and (max-width: 479px) {
    .logo {
      clear: both;
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; }
      .logo svg {
        max-height: 2rem; } }

#menu {
  display: block;
  width: 6.8595927117%;
  float: left;
  margin-right: 1.6077170418%; }
  @media only screen and (min-width: 768px) and (max-width: 1139px) {
    #menu {
      margin-top: 1rem;
      clear: both;
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; } }
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    #menu {
      margin-top: 1rem;
      clear: both;
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; } }
  @media only screen and (max-width: 479px) {
    #menu {
      position: absolute;
      width: 64.4144144144%;
      margin: 0;
      float: none;
      top: 2.5rem;
      right: 0;
      padding: 0.75rem 15px;
      border: 3px #ffc202 solid;
      background: #0c0505;
      z-index: 999;
      display: block;
      opacity: 0;
      transition: opacity 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
      transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
      -webkit-transform: translate(0, 20px);
          -ms-transform: translate(0, 20px);
              transform: translate(0, 20px);
      border-radius: 3px; }
      .nav--off #menu {
        display: none; }
      .nav--on #menu {
        opacity: 1;
        -webkit-transform: translate(0, 0);
            -ms-transform: translate(0, 0);
                transform: translate(0, 0); }
      #menu:after {
        content: "";
        position: absolute;
        border: 3px #ffc202 solid;
        border-right: transparent;
        border-bottom: transparent;
        background: #0c0505;
        width: 20px;
        height: 20px;
        top: -12px;
        right: 17px;
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg); } }

#menu li {
  font-size: 0.8333333333rem;
  line-height: 1rem;
  margin-bottom: 0.75rem; }
  #menu li:last-child {
    margin-bottom: 0; }
  #menu li a {
    color: #ffc202;
    text-decoration: none; }
  #menu li a:hover {
    color: #ffdb68; }

#nav-trigger {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  font-family: "futura-pt", Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 0.7142857143rem;
  line-height: 1rem;
  color: #ffc202;
  background: transparent;
  border: 2px #ffc202 solid;
  outline: none;
  padding: 0.2rem 10px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 3px; }
  @media only screen and (max-width: 479px) {
    #nav-trigger {
      display: block; } }
  .nav--on #nav-trigger {
    background: #ffc202;
    color: #0c0505; }
  #nav-trigger:hover {
    cursor: pointer; }

.main {
  margin-left: 8.4673097535%;
  width: 49.1961414791%;
  float: left;
  margin-right: 1.6077170418%; }
  @media only screen and (min-width: 768px) and (max-width: 1139px) {
    .main {
      width: 66.1307609861%;
      float: left;
      margin-right: 1.6077170418%; } }
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    .main {
      width: 74.5980707395%;
      float: left;
      margin-right: 1.6077170418%;
      float: right;
      margin-right: 0; } }
  @media only screen and (max-width: 479px) {
    .main {
      margin-left: 0%;
      clear: both;
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; } }
  .main > * {
    margin-bottom: 2rem; }
  .main img {
    max-width: 100%; }

.main .profilepic {
  width: 5rem;
  height: 5rem;
  margin-bottom: 1rem;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
  right: 2px; }
  .main .profilepic img {
    width: 100%; }
  @media only screen and (max-width: 479px) {
    .main .profilepic {
      display: none; } }

.recent-articles article, .articles article {
  position: relative;
  margin-bottom: 2rem; }
  .recent-articles article:hover > .info, .articles article:hover > .info {
    opacity: 1; }
  .recent-articles article:last-of-type, .articles article:last-of-type {
    margin-bottom: 0; }
  .recent-articles article p, .articles article p {
    margin-bottom: 0.5rem; }
  .recent-articles article .continue, .articles article .continue {
    font-style: italic;
    font-size: 0.625rem;
    line-height: 1rem; }
    .recent-articles article .continue:after, .articles article .continue:after {
      content: "\2192";
      font-style: normal;
      padding-left: 5px;
      position: relative; }
  .recent-articles article .info, .articles article .info {
    width: 13.9433551198%;
    position: absolute;
    top: 0;
    left: -17.211328976%;
    text-align: right;
    opacity: 0;
    transition: opacity 300ms ease-in-out; }
    @media only screen and (min-width: 768px) and (max-width: 1139px) {
      .recent-articles article .info, .articles article .info {
        opacity: 1;
        width: 100%;
        position: relative;
        text-align: left;
        left: 0;
        margin-top: 0.5rem; } }
    @media only screen and (min-width: 480px) and (max-width: 767px) {
      .recent-articles article .info, .articles article .info {
        opacity: 1;
        width: 100%;
        position: relative;
        text-align: left;
        left: 0;
        margin-top: 0.5rem; } }
    @media only screen and (max-width: 479px) {
      .recent-articles article .info, .articles article .info {
        opacity: 1;
        width: 100%;
        position: relative;
        text-align: left;
        left: 0;
        margin-top: 0.5rem; } }
  .recent-articles article .info time, .articles article .info time {
    display: block; }
  .recent-articles article .info time, .recent-articles article .info .reading-time, .articles article .info time, .articles article .info .reading-time {
    font-size: 0.46875rem;
    line-height: 0.75rem; }
    @media only screen and (min-width: 768px) and (max-width: 1139px) {
      .recent-articles article .info time, .recent-articles article .info .reading-time, .articles article .info time, .articles article .info .reading-time {
        display: inline;
        margin-right: 2.1551724138%;
        font-size: 0.46875rem;
        line-height: 0.75rem; } }
    @media only screen and (min-width: 480px) and (max-width: 767px) {
      .recent-articles article .info time, .recent-articles article .info .reading-time, .articles article .info time, .articles article .info .reading-time {
        display: inline;
        margin-right: 2.1551724138%;
        font-size: 0.46875rem;
        line-height: 0.75rem; } }
    @media only screen and (max-width: 479px) {
      .recent-articles article .info time, .recent-articles article .info .reading-time, .articles article .info time, .articles article .info .reading-time {
        display: inline;
        margin-right: 1.6077170418%;
        font-size: 0.46875rem;
        line-height: 0.75rem; } }
  @media only screen and (min-width: 768px) and (max-width: 1139px) {
    .recent-articles article .info time:before, .articles article .info time:before {
      content: "Published on "; } }
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    .recent-articles article .info time:before, .articles article .info time:before {
      content: "Published on "; } }
  @media only screen and (max-width: 479px) {
    .recent-articles article .info time:before, .articles article .info time:before {
      content: "Published on "; } }

.article h1, .questions h1, .bio h1, .contactinfo h1, .events h1 {
  font-weight: 700 !important;
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin-bottom: 0.25rem; }

.article h2, .questions h2, .bio h2, .contactinfo h2, .events h2 {
  font-size: 1.0714285714rem;
  line-height: 1.5rem;
  margin-bottom: 0.75rem;
  -ms-font-feature-settings: "none";
  -webkit-font-feature-settings: "none";
  -o-font-feature-settings: "none";
  font-feature-settings: "none"; }

.article a, .questions a, .bio a, .contactinfo a, .events a {
  box-shadow: inset 0 -2px 0 #0c0505, inset 0 -3px 0 #ffc202; }
  .article a:hover, .questions a:hover, .bio a:hover, .contactinfo a:hover, .events a:hover {
    box-shadow: inset 0 -2px 0 #0c0505, inset 0 -3px 0 #ffdb68; }

.article strong, .questions strong, .bio strong, .contactinfo strong, .events strong {
  font-weight: 700; }

.article em, .questions em, .bio em, .contactinfo em, .events em {
  font-style: italic; }

.article hr, .questions hr, .bio hr, .contactinfo hr, .events hr {
  border: none;
  border-top: 1px solid #ffc202;
  margin: 1rem auto;
  width: 37%; }

.article blockquote p, .questions blockquote p, .bio blockquote p, .contactinfo blockquote p, .events blockquote p {
  padding: 0 60px;
  text-align: center;
  font-size: 1.0714285714rem;
  line-height: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  -ms-font-feature-settings: "none";
  -webkit-font-feature-settings: "none";
  -o-font-feature-settings: "none";
  font-feature-settings: "none"; }
  @media only screen and (max-width: 479px) {
    .article blockquote p, .questions blockquote p, .bio blockquote p, .contactinfo blockquote p, .events blockquote p {
      padding: 0; } }

.article ul li, .article ol li, .questions ul li, .questions ol li, .bio ul li, .bio ol li, .contactinfo ul li, .contactinfo ol li, .events ul li, .events ol li {
  font-size: 0.625rem;
  line-height: 1rem;
  margin-bottom: 0.5rem; }
  @media only screen and (max-width: 479px) {
    .article ul li, .article ol li, .questions ul li, .questions ol li, .bio ul li, .bio ol li, .contactinfo ul li, .contactinfo ol li, .events ul li, .events ol li {
      list-style-position: inside; } }
  .article ul li:last-child, .article ol li:last-child, .questions ul li:last-child, .questions ol li:last-child, .bio ul li:last-child, .bio ol li:last-child, .contactinfo ul li:last-child, .contactinfo ol li:last-child, .events ul li:last-child, .events ol li:last-child {
    margin-bottom: 0; }
  .article ul li p, .article ol li p, .questions ul li p, .questions ol li p, .bio ul li p, .bio ol li p, .contactinfo ul li p, .contactinfo ol li p, .events ul li p, .events ol li p {
    font-size: inherit;
    line-height: inherit; }
    .article ul li p:last-child, .article ol li p:last-child, .questions ul li p:last-child, .questions ol li p:last-child, .bio ul li p:last-child, .bio ol li p:last-child, .contactinfo ul li p:last-child, .contactinfo ol li p:last-child, .events ul li p:last-child, .events ol li p:last-child {
      margin-bottom: 1rem; }

.article ul, .questions ul, .bio ul, .contactinfo ul, .events ul {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  list-style: disc; }

.article ol, .questions ol, .bio ol, .contactinfo ol, .events ol {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  list-style: decimal; }

.article time, .questions time, .bio time, .contactinfo time, .events time {
  display: block;
  font-size: 0.625rem;
  line-height: 1rem;
  margin-bottom: 1rem; }
  .article time:before, .questions time:before, .bio time:before, .contactinfo time:before, .events time:before {
    content: "Published on "; }

.bigprofile {
  background: #ffc202;
  margin-bottom: 0.75rem; }
  .bigprofile img {
    display: block;
    mix-blend-mode: luminosity; }

.speak li > p {
  margin-bottom: 0.75rem !important; }

article .interpost {
  width: 44.7552447552%;
  display: block;
  margin: 1.5rem 0;
  font-size: 0.7142857143rem;
  line-height: 1rem;
  -webkit-font-variant-ligatures: common-ligatures;
  font-variant-ligatures: common-ligatures;
  -webkit-font-feature-settings: "liga", "kern";
          font-feature-settings: "liga", "kern"; }
  article .interpost span {
    display: block;
    font-weight: 700;
    text-decoration: none !important; }
    @media only screen and (max-width: 479px) {
      article .interpost span:before, article .interpost span:after {
        display: none; } }
  @media only screen and (max-width: 479px) {
    article .interpost {
      clear: both;
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; }
      article .interpost:last-child {
        margin-top: 0; } }
  article .interpost.previous {
    float: left;
    text-align: left; }
    article .interpost.previous span:before {
      content: "\2190";
      padding-right: 5px; }
    @media only screen and (max-width: 479px) {
      article .interpost.previous {
        text-align: center; } }
  article .interpost.next {
    float: right;
    text-align: right; }
    article .interpost.next span:after {
      content: "\2192";
      padding-left: 5px; }
    @media only screen and (max-width: 479px) {
      article .interpost.next {
        text-align: center; } }

nav.pagination {
  width: 100%;
  margin-right: 0;
  display: block;
  float: none; }
  nav.pagination li {
    display: inline-block;
    padding: 0 5px;
    margin-bottom: 0; }
    nav.pagination li:first-child {
      padding-left: 0; }
    nav.pagination li:last-child {
      padding-right: 0; }
  nav.pagination a.current {
    font-weight: 700; }

footer {
  margin-bottom: 0 !important; }
  footer .copyright {
    display: inline-block;
    float: left; }
    @media only screen and (min-width: 480px) and (max-width: 767px) {
      footer .copyright {
        display: block;
        float: none; }
        footer .copyright p {
          margin-bottom: 0; } }
    @media only screen and (max-width: 479px) {
      footer .copyright {
        display: block;
        float: none; }
        footer .copyright p {
          margin-bottom: 0; } }
  footer .colophon {
    display: inline-block;
    text-align: right;
    float: right; }
    @media only screen and (min-width: 480px) and (max-width: 767px) {
      footer .colophon {
        text-align: left;
        display: block;
        float: none; } }
    @media only screen and (max-width: 479px) {
      footer .colophon {
        text-align: left;
        display: block;
        float: none; } }
