@import "_syntax-highlighting.css";
@import "../../bower_components/susy/sass/susy";

/*------------ Set up ------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

$susy: (
  columns: 12,
  gutters: 0.234375,
  math: fluid
);

$break-mobile: 480px;
$break-tablet: 768px;
$break-desktop: 960px;

@mixin breakpoint($media) {
  @if $media == p {
    @media only screen and (max-width: $break-mobile - 1) { @content; }
  }
  @else if $media == l {
    @media only screen and (min-width: $break-mobile) and (max-width: $break-tablet - 1) { @content; }
  }
  @else if $media == t {
    @media only screen and (min-width: $break-tablet) and (max-width: $break-desktop - 1) { @content; }
  }
  @else if $media == d {
    @media only screen and (min-width: $break-desktop) { @content; }
  }
}

$highlight: #f8f8f8;

// Default Theme

$frontcolor: rgba(189,17,17,1);
$frontcolor-h: lighten($frontcolor, 20%);
$backcolor: rgba(255,255,255,1);
$font: "calluna", Palatino, 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif;

// Valentines Theme

// $frontcolor: rgba(255,255,255,1);
// $frontcolor-h: lighten($frontcolor, 20%);
// $backcolor: rgba(182,0,45,1);
// $font: "Didot", Palatino, 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif;

// Star Wars Theme

// $frontcolor: rgba(255,194,2,1);
// $frontcolor-h: lighten($frontcolor, 20%);
// $backcolor: rgba(6,5,5,1);
// $font: Futura,"Trebuchet MS",Arial,sans-serif;

/*------------ Plugins ------------*/

.highlight { 
  color: #686868;
  background: $highlight; 
  font-family: monospace;
  font-size: 18 / 16 * 1em;
  line-height: 36 / 18 * 1em;
  margin-bottom: 18 / 18 * 1em;

  pre {
    width: auto;
    white-space: pre-wrap;
    padding: 18 / 18 * 1em 15px;
  }
}

/*------------ Typography ------------*/

h1, h2, h3, h4, h5, h6 {
  // Settings for discretionary ligatures
  -moz-font-feature-settings: "dlig=1";
  -ms-font-feature-settings: "dlig";
  -webkit-font-feature-settings: "dlig";
  -o-font-feature-settings: "dlig";
  font-feature-settings: "dlig";
}

h1 {
  font-size: 46 / 16 * 1em;
  line-height: 54 / 46 * 1em;
  margin-bottom: 54 / 46 * 1em;
}

h2 {
  font-size: 27 / 16 * 1em;
  line-height: 36 / 27 * 1em;
  margin-bottom: 36 / 27 * 1em;
}

h3 {
  font-weight: 700;
  font-size: 32 / 16 * 1em;
  line-height: 36 / 32 * 1em;
  margin-bottom: 18 / 32 * 1em;
}

a {
  color: $frontcolor;
  text-decoration: none;
  transition: color 300ms ease-in-out;

  &:link, a:visited, a:active {
    color: $frontcolor;
  }

  &:hover {
    color: $frontcolor-h;
  }
}

p {
  font-size: 22 / 16 * 1em;
  line-height: 36 / 22 * 1em;
  margin-bottom: 18 / 22 * 1em;
  -webkit-font-variant-ligatures: common-ligatures;
  font-variant-ligatures: common-ligatures;
}

abbr {
  border-bottom: 1px dotted $frontcolor;
  font-variant-caps: all-small-caps;
  font-feature-settings: "c2sc", "smcp";
  cursor: help;
}

.container {
  @include container;
  @extend .group;
}

/*------------ Tools ------------*/
*, *:before, *:after {
  box-sizing: border-box;

  ::selection {
    background: $frontcolor;
    color: $backcolor
  }
}

.group {
  *zoom: 1;
  &:before,
  &:after {
    content: " "; /* 1 */
    display: table; /* 2 */
  }
  &:after {
    clear: both;
  }
}

/*------------ General ------------*/

body {
  font-size: 14px;
  font-family: $font;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  width: 100%;
  padding: 54 / 16 * 1em 30px;
  color: $frontcolor;
  background: $backcolor;

   
  @include breakpoint(t) {
    -webkit-text-size-adjust: none;
  }
    
  
  @include breakpoint(l) {
    padding: 36 / 16 * 1em 20px;
    font-size: 12px;
    -webkit-text-size-adjust: none;
  }
    

  @include breakpoint(p) {
    padding: 36 / 16 * 1em 20px;
    font-size: 12px;
    -webkit-text-size-adjust: none;
  }
    
}

/*------------ Specific ------------*/

// Navigation

header {

  @include breakpoint(t) {
    @include span(2);
  }

  @include breakpoint(l) {
    @include span(2);
  }

  @include breakpoint(p) {
    position: relative;
    margin-bottom: 36 / 16 * 1em;
    @include full;
  }
    
}

.logo {
  @include span(1);

  svg {
    max-height: 72 / 16 * 1em;
  }

  .logo-path {
    fill: $frontcolor;
  }

   
  @include breakpoint(t) {
    @include full;
  }

  @include breakpoint(l) {
    @include full;
  }
    
  @include breakpoint(p) {
    @include full;
  }
    
}

#menu {
  display: block;

  @include span(1);

  @include breakpoint(t) {
    margin-top: 36 / 16 * 1em;
    @include full;
  }

  @include breakpoint(l) {
    margin-top: 36 / 16 * 1em;
    @include full;
  }

  @include breakpoint(p) {
    position: absolute;
    width: span(2 of 3);
    margin: 0;
    float: none;
    top: 54px;
    right: 0;
    padding: 18 / 16 * 1em 15px;
    border: 3px $frontcolor solid;
    background: $backcolor;
    z-index: 999;
    display: block;
    opacity: 0;
    transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
    transform: translate(0, 20px);
    border-radius: 3px;

    .nav--off & {
      display: none;
    }

    .nav--on & {
      opacity: 1;
      transform: translate(0, 0);
    }

    &:after {
      content: "";
      position: absolute;
      border: 3px $frontcolor solid;
      border-right: transparent;
      border-bottom: transparent;
      background: $backcolor;
      width: 20px;
      height: 20px;
      top: -12px;
      right: 17px;
      transform: rotate(45deg);
    }
  }
}

#menu li {
  font-size: 27 / 16 * 1em;
  line-height: 36 / 27 * 1em;
  margin-bottom: 18 / 27 * 1em;

  &:last-child {
    margin-bottom: 0;
  }

  a {
    color: $frontcolor;
    text-decoration: none;
  }
}

#nav-trigger {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  font-family: $font;
  font-size: 22 / 16 * 1em;
  line-height: 22 / 22 * 1em;
  color: $frontcolor; 
  background: transparent;
  border: 2px $frontcolor solid;
  outline: none;
  padding: 11 / 22 * 1em;
  appearance: none;
  border-radius: 3px;

  @include breakpoint(p) {
    display: block;
  }

  .nav--on & {
    background: $frontcolor;
    color: $backcolor;
  }

  &:hover {
    cursor: pointer;
  }
    
}

// Main Area

.main {
  // margin-left: span(1)+gutter();
  // margin-right: span(3)+gutter();
  @include push(1);
  @include span(6);


  @include breakpoint(t) {
    @include span(8);
  }
    
  @include breakpoint(l) {
    @include span(9);
    @include last;
  }

  @include breakpoint(p) {
    @include push(0);
    @include full;
  }
    

  & > * {
    margin-bottom: 54 / 16 * 1em;
  }

  // .short-bio img{
  //   margin-bottom: 18 / 16 * 1em;
  // }

  img {
    max-width: 100%;
  }
}

.main .profilepic {
  width: 180 / 16 * 1em;
  height: 180 / 16 * 1em;
  margin-bottom: 36 / 16 * 1em;
  overflow: hidden;
  border-radius: 50%;

  img {
    width: 100%;
  }


  @include breakpoint(p) {
    display: none;
  }
    
}

.recent-articles article, .articles article {
  position: relative;
  margin-bottom: 36 / 16 * 1em;

  &:hover > .info {
    opacity: 1;
  }

  &:last-of-kind {
    margin-bottom: 0;
  }

  .continue {
    font-style: italic;
    font-size: 22 / 16 * 1em;
    line-height: 36 / 22 * 1em;

    // &:hover:after {
    //   content: "\2192 Go";
    // }

    &:after {
      content: "\2192";
      font-style: normal;
      padding-left: 5px;
      position: relative;
    }
  }

  .info {
    width: span(1 of 6);
    position: absolute;
    top: 0;
    left: ( span(1 of 6) + gutter(6) ) * -1;
    text-align: right;
    opacity: 0;

    transition: opacity 300ms ease-in-out;
  
    @include breakpoint(l) {
      opacity: 1;
      width: span(1 of 1);
      position: relative;
      text-align: left;
      left: 0;
      margin-top: 18 / 16 * 1em;
    }

    @include breakpoint(p) {
      opacity: 1;
      width: span(1 of 1);
      position: relative;
      text-align: left;
      left: 0;
      margin-top: 18 / 16 * 1em;
    }
      
  }

  .info time, .info .reading-time {
    font-size: 16 / 16 * 1em;
    line-height: 18 / 16 * 1em;


    @include breakpoint(l) {
      display: inline;
      margin-right: gutter(9);
    }

    @include breakpoint(p) {
      display: inline;
      margin-right: gutter();
    }
      
  }

  .info time:before {

    @include breakpoint(l) {
      content: "Published on ";
    }

    @include breakpoint(p) {
      content: "Published on ";
    }
      
  }
}

.article, .questions, .bio, .contactinfo {
  h1 {
    font-weight: 700;
    font-size: 46 / 16 * 1em;
    line-height: 54 / 46 * 1em;
    margin-bottom: 18 / 46 * 1em;
  }

  h2 {
    font-size: 32 / 16 * 1em;
    line-height: 36 / 32 * 1em;
    margin-top: 36 / 32 * 1em;
    margin-bottom: 18 / 32 * 1em;
    -moz-font-feature-settings: "none";
    -ms-font-feature-settings: "none";
    -webkit-font-feature-settings: "none";
    -o-font-feature-settings: "none";
    font-feature-settings: "none";
  }

  a {
    text-decoration: underline;
  }

  strong {
    font-weight: 700;
  }

  em {
    font-style: italic;
  }

  hr {
    border: none;
    border-top: 1px solid $frontcolor;
    margin: 36 / 16 * 1em auto;
    width: 37%;
  }

  blockquote p {
    padding: 0 60px;
    text-align: center;
    font-size: 32 / 16 * 1em;
    line-height: 36 / 32 * 1em;
    margin-top: 36 / 32 * 1em;
    margin-bottom: 36 / 32 * 1em;
    -moz-font-feature-settings: "none";
    -ms-font-feature-settings: "none";
    -webkit-font-feature-settings: "none";
    -o-font-feature-settings: "none";
    font-feature-settings: "none";

    @include breakpoint(p) {
      padding: 0;
    }
  }

  ul li, ol li {
    font-size: 22 / 16 * 1em;
    line-height: 36 / 22 * 1em;
    margin-bottom: 9 / 22 * 1em;

    @include breakpoint(p) {
      list-style-position: inside;
    }

    &:last-child {
      margin-bottom: 0;
    }

    p {
      font-size: inherit;
      line-height: inherit;
      margin-bottom: 18 / 22 * 1em;

      &:last-child {
        margin-bottom: 36 / 22 * 1em;
      }
    }
  }

  ul {
    margin-top: 36 / 16 * 1em;
    margin-bottom: 36 / 16 * 1em;
    list-style: disc;
  }

  ol {
    margin-top: 36 / 16 * 1em;
    margin-bottom: 36 / 16 * 1em;
    list-style: decimal;
  }

  time {
    display: block;
    font-size: 22 / 16 * 1em;
    line-height: 36 / 22 * 1em;
    margin-bottom: 36 / 22 * 1em; 

    &:before {
      content: "Published on ";
    }
  }
}

article .interpost-box {
  @extend .group;
}

article .interpost {
  width: span(1 of 2);
  display: block;
  margin: 36 / 22 * 1em 0;
  font-size: 22 / 16 * 1em;
  line-height: 36 / 22 * 1em;
  -webkit-font-variant-ligatures: common-ligatures;
  font-variant-ligatures: common-ligatures;

  span {
    display: block;
    font-weight: 700;
    text-decoration: none !important;

    @include breakpoint(p) {
      &:before, &:after {
        display: none;
      }
    }
  }

  @include breakpoint(p) {
    @include full;

    &:last-child {
      margin-top: 0;
    }
  }

  &.previous {
    float: left;
    text-align: left;

    span:before {
      content: "\2190";
      padding-right: 5px;
    }

    @include breakpoint(p) {
      text-align: center;
    }
  }

  &.next {
    float: right;
    text-align: right;

    span:after {
      content: "\2192";
      padding-left: 5px;
    }

    @include breakpoint(p) {
      text-align: center;
    }
  }
}

nav.pagination {
  width: 100%;
  margin-right: 0;
  display: block;
  float: none;

  li {
    display: inline-block;
    padding: 0 5px;
    margin-bottom: 0;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }

  a.current {
    font-weight: 700;
  }
}

footer {
  margin-bottom: 0!important;
  @extend .group;

  .copyright {
    display: inline-block;
    float: left;

    @include breakpoint(l) {
      display: block;
      float: none;

      p {
        margin-bottom: 0;
      }
    }

    @include breakpoint(p) {
      display: block;
      float: none;

      p {
        margin-bottom: 0;
      }
    }
  }

  .colophon {
    display: inline-block;
    text-align: right;
    float: right;

    @include breakpoint(l) {
      text-align: left;
      display: block;
      float: none;
    }

    @include breakpoint(p) {
      text-align: left;
      display: block;
      float: none;
    }
  }
}
