---
layout: default
---

<section class="short-bio">

  <img src="{{ site.url }}/assets/profilepic.jpg" class="profilepic" alt="Profile picture | Aceler Chua">

  <h1>
    I’m Aceler Chua, a designer who focuses on producing problem-solving solutions in <abbr title="Usually with visual design, human interaction design and typography.">various creative&nbsp;ways</abbr>.
  </h1>

</section>

<section class="recent-articles">

  <h2>Recent articles</h2>

  {% for post in site.posts limit:2 %}

    <article id="{{ post.id }}">
      
      <h3>
        <a href="{{ post.url }}">{{ post.title }}</a>
      </h3>

      <div class="info">
        <time datetime="{{ post.date | date_to_xmlschema }}">
          {% assign d = post.date | date: "%-d" %} 
          {% assign m = post.date | date: "%B" %} 
          
          Posted on 

          {% case d %}
            {% when '1' or '21' or '31' %}{{ d }}st
            {% when '2' or '22' %}{{ d }}nd
            {% when '3' or '23' %}{{ d }}rd
            {% else %}{{ d }}th
            {% endcase %}
          {% case m %}
            {% when 'April' or 'May' or 'June' or 'July' %}{{ m }}
            {% when 'September' %}Sept.
            {% else %}{{ post.date | date: "%b" }}.
            {% endcase %}
          
          {{ post.date | date: "%Y" }}
        </time>
        <p class="reading-time">
          
            {% assign c = post.content | number_of_words %}
            {% assign ct = c | divided_by: 200 | ceil %}

            {% if ct == 1 %}
              {{ ct }} minute read
            {% elsif ct <= 1 %}
              1 minute read
            {% else %}
              {{ ct }} minutes read
            {% endif %}

        </p>
      </div>

      <p>
        {{ post.peek }}
      </p>

      <a class="continue" href="{{ post.url }}">Continue reading</a>

    </article>

  {% endfor %}

</section>
