<div class="view">
        
  <header>

    <input id="nav-toggle" type="checkbox"/>
    <label class="nav-trigger" for="nav-toggle">Menu</label>

    <nav id="menu" role="navigation">

      <ul class="menu cf">
        <li>
          <a href="{{ "/" | prepend: site.baseurl }}">Home</a>
        </li>
        <li>
          <a href="{{ "/article/" | prepend: site.baseurl }}">Article</a>
        </li>
        {% assign pages = site.pages | sort: "weight" %}
        {% for page in pages %}
        {% if page.title %}
        {% unless page.title == "Article" %}
        <li>
          <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
        </li>
        {% endunless %}
        {% endif %}
        {% endfor %}
        <li>
          <a href="https://aceler.work" target="_blank">Work</a>
        </li>
      </ul>

    </nav>

  </header>

  {% assign default_pattern = site.pattern %}
  {% assign pattern = page.pattern | default: default_pattern %}

  <div class="pattern" style="background-image: url({{ pattern }});"></div>

  <main>
    <div class="main_content">
      <a class="site_title" href="{{ "/" | prepend: site.baseurl }}">{{ site.title }}</a>
