<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">

  <title>{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }} | Multidisciplinary designer based in Manila, Philippines{% endif %}</title>
  <meta name="description" content="{% if page.peek %}{{ page.peek }}{% elsif page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <meta property="og:title" content="{% if page.peek %}{{ page.title }}{% elsif page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }} | Multidisciplinary designer based in Manila, Philippines{% endif %}">
  <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <meta property="og:description" content="{% if page.peek %}{{ page.peek }}{% elsif page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta property="og:type" content="{% if page.peek %}article{% else %}website{% endif %}">
  <meta property="og:image" content="{% if post.thumbnail %}{{ post.thumbnail }}{% else %}{{ "/assets/ogimage.png" | prepend: site.url }}{% endif %}">
  <meta property="og:image:type" content="image/png">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{% if page.peek %}{{ page.title }}{% elsif page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }} | Multidisciplinary designer based in Manila, Philippines{% endif %}">
  <meta name="twitter:description" content="{% if page.peek %}{{ page.peek }}{% elsif page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="twitter:creator" content="@chakler">
  <meta name="twitter:image:src" content="{% if post.thumbnail %}{{ post.thumbnail }}{% else %}{{ "/assets/ogimage.png" | prepend: site.url }}{% endif %}">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.url }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="icon" href="{{ "/favicon.ico" | prepend: site.url }}" type="image/x-icon"/>
  <link rel="shortcut icon" href="{{ "/favicon.ico" | prepend: site.url }}" type="image/x-icon"/>
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
  <script>
    (function(d) {
      var config = {
        kitId: 'kdh7qad',
        scriptTimeout: 3000
      },
      h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='//use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
    })(document);
  </script>
  <style type="text/css">
    .wf-loading p,.wf-loading h1,.wf-loading h2,.wf-loading h3,.wf-loading h4,.wf-loading h5,.wf-loading h6,.wf-loading li,.wf-loading nav a,.wf-loading article a,.wf-loading article time,.wf-loading .interpost-box span {visibility: hidden; /*FOUT Fix*/}
  </style>
</head>
