body {
  color: $color-black;
  font-family: $font-content;
  background-color: $color-white;
  overflow-x: hidden;
}

a {  
  color: inherit;
  text-decoration: none;
  transition: color 0.2s ease-out;

  // @include multiple-states {
  //   color: $color-major--dark;
  // }
}

.main_content, footer {
  span, p, ul, ol {
    a {
      // color: $color-major;
      border-bottom: 1px solid currentcolor;

      @include multiple-states {
        color: $color-major;
      }
    }

    em {
      font-weight: 700;
      font-style: normal;
    }
  }
}

.view {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  // > * {
  //   padding: 1rem 0;

  //   @include breakpoint(medium, up) {
  //     padding: 1.25rem 0;
  //   }
  // }

  .pattern {
    // display: none;
    border-radius: 0.5rem;
    background: $color-minor;
    background-size: 200px 200px;
    background-position: bottom left;
    position: fixed;
    top: $spacing-unit-v;
    right: 120px;
    bottom: $spacing-unit-v;
    left: $spacing-unit-h / 2;
    z-index: 1;

    @include breakpoint(medium, up) {
      top: $spacing-unit-v--medium;
      right: 25%;
      bottom: $spacing-unit-v--medium;
      left: $spacing-unit-h--medium;
    }

    @include breakpoint(large, up) {
      top: $spacing-unit-v--large;
      right: 50%;
      bottom: $spacing-unit-v--large;
      left: $spacing-unit-h--large;
    }
  }
}

main {
  width: 100%;
  max-width: $content-width;
  padding-top: 4rem;
  padding-left: $spacing-unit-h;
  margin: 0 auto;
  position: relative;
  z-index: 2;

  @include breakpoint(medium, up) {
    padding-top: $spacing-unit-v--medium * 3;
    padding-left: $spacing-unit-h--medium * 2;
  }

  @include breakpoint(large, up) {
    padding-top: $spacing-unit-v--large * 2;
    padding-left: $spacing-unit-h--large * 2;
  }

  .main_content {
    padding: $spacing-unit-v $spacing-unit-h;
    background: $color-white;

    @include breakpoint(medium, up) {
      padding: $spacing-unit-v--medium $spacing-unit-h--medium;
    }

    @include breakpoint(large, up) {
      padding: $spacing-unit-v--large $spacing-unit-h--large;
    }

    .site_title {
      @include textgrid(0.5, 1.2);
      color: $color-white;
      font-family: $font-heading;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.2em;
      display: inline-block;
      padding: 0.25rem 10px;
      background: $color-major;
      border-radius: 0.25rem;
      margin-bottom: 2rem;

      @include multiple-states {
        color: $color-minor;
      }
    }
  }
}
