@import 'theme-core/breakpoints';
@import 'theme-core/mixins';

// Breakpoints: refer to _breakpoints.scss for value sets
$breakpoints-custom: (
  'mini':   0,
  'small':  640,
  'medium': 768,
  'large':  960,
  'xlarge': 1200,
  'full':   1680,
);

$breakpoints-model: $breakpoints-custom; // or 'breakpoints-uikit2', 'breakpoints-uikit3', 'breakpoints-foundation'

// Font Sizes
$typegrid: true;

$font-size-roots: (
  14px,
  16px,
  16px,
  18px,
  20px,
);

$font-leading-ratio: 1.5; // (typegrid) ? (Leading ÷ font size) : line-height;

// Font Family
// In case of Chinese, add the following between the Latin font declaration
// Hiragino Sans GB, 冬青黑体, STHeiti, 华文黑体, Microsoft YaHei, 微软雅黑体, SimHei, 黑体;
//-- typo:start --//
$font-heading:     'termina', sans-serif; // 700
$font-content:     'Farro', sans-serif; // 400
//-- typo:end --//

// Colours
//-- colors:start --//
$color-black:        rgba(28,28,124,1);
$color-white:        #ffffff;

$color-major:        #ef4136;
$color-minor:        #f9c9a5;
$color-gradient:     linear-gradient(to right, $color-major 0%, $color-minor 70%);
//-- colors:end --//

// Site variables
//-- Logo:start --//
$logo-owidth:  57;
$logo-oheight: 49;
$logo-ratio: $logo-owidth / $logo-oheight;
//-- Logo:end --//

//-- grid:start --//
$spacing-unit-v:          1rem;
$spacing-unit-v--medium:  1.5rem;
$spacing-unit-v--large:   2rem;
$spacing-unit-h:          20px;
$spacing-unit-h--medium:  30px;
$spacing-unit-h--large:   60px;
$content-width:           960px;
//-- grid:end --//
