main {
  grid-column: 1/ span 2;
  position: relative;

  @include gs-breakpoint(large, up) {
    grid-column: 2/ span 1;
  }

  &::before {
    content: '';
    display: block;
    height: gs-spacer(1.25);
    border-top: gs-spacer(0.5) solid $color-major;
    position: absolute;
    bottom: gs-spacer(0.5);
    left: gs-spacer(0.5);
    right: gs-spacer(0.5);
  }

  .main__container {
    display: block;
    padding-top: gs-spacer(1.5);
    padding-bottom: gs-spacer(2.5);
    background: var(--color-neg--2);
    border-radius: gs-spacer(0.75) gs-spacer(0.75) 0 0;
    box-shadow: var(--shadow);
    position: relative;
    // overflow: hidden;

    @include gs-breakpoint-loop($grid-gutter) using ($gutter) {
      padding-left: $gutter;
      padding-right: $gutter;
    }

    @include gs-breakpoint(medium, up) {
      padding-top: gs-spacer(2);
      padding-bottom: gs-spacer(3.5);
      border-radius: gs-spacer(1.5) gs-spacer(1.5) 0 0;
    }

    h1 {
      @extend %type-article-title;
      max-width: 26rem;
      margin-bottom: gs-spacer(1.75);
      position: relative;

      &::after {
        content: "";
        color: $color-major;
        display: block;
        width: 100vw;
        border-bottom: 3px solid $color-major;
        position: absolute;
        bottom: gs-spacer(-0.5);
      }
    }

    p {
      max-width: 32rem;
    }

    figure {
      @extend %pop-out;
      margin-top: gs-spacer(0.75);
      margin-bottom: gs-spacer(0.75);

      img {
        border-radius: gs-spacer(0.25);
        box-shadow: var(--shadow--2);
      }

      figcaption {
        @extend %type-article-figcaption;
        text-align: center;

        @include gs-breakpoint(medium, up) {
          text-align: left;
        }

        @include gs-breakpoint(large, up) {
          text-align: right;
        }
      }
    }
  }
}
