header {
  grid-area: 1/2/2/3;
  position: relative;
  align-self: center;
  // position: sticky;
  // top: 0;

  .header__main {
    padding-top: gs-spacer(2);
    padding-bottom: gs-spacer(1);

    .content {
      @include gs-breakpoint-loop($grid-gutter) using ($gutter) {
        padding-left: $gutter;
      }

      h1 {
        @extend %type-bighead;
        color: var(--color-pos);
        font-weight: 400;
        max-width: 32rem;

        > span {
          font-weight: 900;
        }
      }

      .main_navigation {
        ul {
          list-style: none;
          padding: 0;
          margin-top: 0;
        }

        li {
          display: inline-block;

          @include gs-breakpoint-loop($grid-gutter) using ($gutter) {
            margin-right: $gutter;
          }
        }
      }
    }
  }
}
