@import 'theme-core/breakpoints';
@import 'theme-core/mixins';

// Breakpoints: refer to _breakpoints.scss for value sets
$breakpoints-custom: (
  'mini':   0,
  'small':  640,
  'medium': 768,
  'large':  960,
  'xlarge': 1200,
);

$breakpoints-model: $breakpoints-custom; // or 'breakpoints-uikit2', 'breakpoints-uikit3', 'breakpoints-foundation'

// Colours
$color-black:   #111111;
$color-white:   #efefef;

$color-major:   #ff5500;
$color-minor:   #ffcf00;

// Font Family
$font-heading:  'neuzeit-grotesk', sans-serif; // 700
$font-content:  'neuzeit-grotesk', sans-serif; // 400

// Font Sizes
$typegrid: true;

$font-size-roots: (
  16px,
  16px,
  18px,
  20px,
  22px,
);

$font-leading-ratio: 1.5; // (typegrid) ? (Leading ÷ font size) : line-height;

// Grid
$grid-wrapper-max-width: 960;
$grid-column-count: 12;
$grid-gutter: (
  20px,
  20px,
  30px,
  40px,
  40px,
);
