%type-bighead {
  @include gs-textgrid(38 / 18, 1.5);
  font-family: $font-heading;
  font-weight: 900;
}

%type-article-title {
  @include gs-textgrid(42 / 18, 1.75);
  font-family: $font-heading;
  font-weight: 900;
}

%type-small-title {
  @include gs-textgrid(22 / 18, 1.25);
  font-family: $font-heading;
  font-weight: 900;
}

%type-article-figcaption {
  @include gs-textgrid(14 / 18, 0.75);
}
